@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */
.swiper {
  width: 95%;
  height: 70%;
  padding-bottom: 50px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}
